version: '3'

services:
  stagit:
    build: .
    volumes:
      - data:/srv/git
      - static:/var/www/html
  nginx:
    image: nginx
    volumes:
      - static:/usr/share/nginx/html:ro
    ports:
      - '80:80'
  git-server:
    build: git-server
    volumes:
      - data:/srv/git
    ports:
      - '22:22'

volumes:
  data:
  static:
